html,
body {
    margin: 0;
    padding: 0;
}

#main {
    margin-top: 5%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    min-width: 450px;
    width: 500px;
}


#main-form>* {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    margin: 5px;
}

#main-form-color {
    height: 50px;
    margin-right: 5px;
}

#main-form-scheme {
    margin: 0px 5px;
    text-align: inherit;
    width: 70%;
    height: 50px;
}

.colorbox {
    display: flex;
    flex-direction: column;
    height: 300px;
}

.colorbox>div {
    display: flex;
}

.colorbox>div>div {
    width: 20%;
}

.colorbox-colors {
    height: 90%;
}

.colorbox-hex {
    height: 10%;
}